<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZENX4W2LY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SZENX4W2LY');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7301867383494347"
    crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">
</head>
<body>
    <div class="quiz-container">
        <div class="start-page" id="start-page">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <img src="assets/main.gif" class="top-image">
            <button id="start-button" class="start-button">Enter Adventure</button>
            <br>
            <p1>{{ info }}</p1>
        </div>

        <div class="quiz-page" id="quiz-page" style="display: none;">
            <div id="quiz">
            </div>
        <footer>
            <a href="{{ link }}" target="_blank" style="font-size: 10px; text-decoration: none;">&copy; {{ copyright_tag }}</a>
        </footer>
        </div>
    </div>
    <script src="{{ questions_js }}"></script>
    <script src="{{ results_js }}"></script>
    <script src="script.js"></script>
</body>
</html>

